<div class="container">
  <h1>マイページ</h1>
  
    <h3>登録情報</h3>
      <div class="text-right">
        <%= link_to "編集する", customers_edit_path, class: "btn btn-success" %>
      </div>
      <table class="table">
        <tr>
          <td>氏名</td>
          <td>
            <%= current_customer.last_name %>
            <%= current_customer.first_name %>
          </td>
        </tr>
        <tr>
          <td>カナ</td>
          <td>
            <%= current_customer.last_name_kana %>
            <%= current_customer.first_name_kana %>
          </td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= current_customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= current_customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= current_customer.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= current_customer.email %></td>
        </tr>
      </table>    
  
    <div class="row">
      <h3 class="col-lg-2">注文履歴</h3>
      <div class="col-lg-10">
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
      </div>
    </div>
</div>