<h2>勝手にパスワード部分にバリデーションかかる</h2>

<%= form_with(model:@customer, url: customer_registration_path,　local: true, method: :PATCH) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field">
    <label class>名前</label><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: ":last_name", placeholder: "(姓)" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: ":first_name" ,placeholder: "(名)" %>
  </div>

  <div class="field">
    <label class>フリガナ</label><br />
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete:":last_name_kana" ,placeholder: "(セイ)" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: ":first_name_kana" ,placeholder: "(メイ)" %>
  </div>

  <div class="field">
    <label class>郵便番号（ハイフンなし）</label><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: ":postal_code" %>
  </div>

  <div class="field">
    <label class>住所</label><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>
  
  <div class="field">
    <label class>電話番号（ハイフンなし）</label><br />
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: ":telephone_number" %>
  </div>

  <div class="field">
    <label>メールアドレス</label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
