<div>
  <h1>商品編集</h1>
  
  <%= form_with model:@item, url: admin_item_path, local:true do |f| %>
    <h4>商品画像</h4>
    <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: 'no_image.jpg'%>
    
    <h4>商品名</h4>
    <%= f.text_field :name %>
    
    <h4>商品説明</h4>
    <%= f.text_area :introduction %>
    
    <h4>税抜価格</h4>
    <%= f.text_field :price %>
    
    <%= f.submit "更新" %>
    
  <% end %>
</div>