<div class="container">
  <h1>商品の新規登録画面</h1>
  
  <%= form_with model:@item, url:'/admin/items', local:true do |f| %>
    <div>商品画像</div>
    <%= f.attachment_field :image %>
    
    <div>商品名</div>
    <%= f.text_field :name %>
    
    <div>商品説明</div>
    <%= f.text_area :introduction %>
    
    <div>税抜価格</div>
    <%= f.text_field :price %><br>
    
    <%= f.submit "新規登録" %>
    
  <% end %>
</div>