<div>
  <h1>商品の新規登録画面</h1>
  
  <%= form_with model:@item, url:'/admin/items', local:true do |f| %>
    <h2>商品画像</h2>
    <p>あとで画像フォームを足す</p>
    
    <h2>商品名</h2>
    <%= f.text_field :name %>
    
    <h2>商品説明</h2>
    <%= f.text_area :introduction %>
    
    <h2>税抜価格</h2>
    <%= f.text_field :price %>
    
    <%= f.submit "新規登録" %>
    
  <% end %>
</div>