<div class="container">
  <h1>商品詳細</h1>
  
  <!--商品情報の呼び出し-->
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: 'no_image.jpg'%>
    </div>
  
    <div class="col-lg-8">
      <table>
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>税込価格（税抜価格）</td>
            <td>
              <%= (@item.price * 1.08).round %>
              (<%= @item.price %>)円
            </td>
          </tr>
        </tbody>
      </table>
    
      <!--編集画面へのリンク-->
      <div class="text-center">
        <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>