<div>
  <h1>注文情報入力</h1>
  
  <div>
    <%= form_with url:confirm_orders_path, method: :post, local: true do |form| %>
      <h3>支払方法</h3>
      <%= form.radio_button :payment_method, "クレジットカード" %>
      <%= form.label :クレジットカード %><br>
      <%= form.radio_button :payment_method, "銀行振込" %>
      <%= form.label :銀行振込 %>
  
      <h3>お届け先</h3>
       	<%= form.radio_button :address, 0 %>
			  <%= form.label :ご自身の住所 %><br>
			  〒<%= @customer.postal_code %>
			  <%= @customer.address %><br>
			  <%= @customer.last_name %>
			  <%= @customer.first_name %><br>
			  
			  <%= form.radio_button :address, 1 %>
			  <%= form.label :新しいお届け先 %><br>
			    <%= form.label :郵便番号（ハイフンなし） %>
			    <%= form.text_field :postal_code %><br>
			    <%= form.label :住所 %>
			    <%= form.text_field :address %><br>
			    <%= form.label :宛名 %>
			    <%= form.text_field :name %><br>
			    
			  <%= form.submit "確認画面へ進む" %>
		<% end %>
  <div>
</div>