<div>
  <div>
    <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: 'no_image.jpg'%>
  </div>
  
  <div>
    <%= form_for(@cart_item, url: cart_items_path(item_id: @item), method: :post) do |f| %>
      <%= @item.name %>
      <%= @item.introduction %>
      ￥<%= @item.price * 1.08 %>（税込）
      <%= f.select :amount, [['1個', 1], ['2個', 2], ['3個', 3], ['4個', 4], ['5個', 5], ['6個', 6], ['7個', 7], ['8個', 8], ['9個', 9]], {:prompt => "個数選択"} %>
      <%= f.submit "カートに入れる" %>
    <% end %>
  </div>
</div>